<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templ/head :: head"></head>

<div class="cd-user-modal" th:fragment="login_form">
    <div class="cd-user-modal-container">
        <ul class="cd-switcher">
            <li><a href="">Sign in</a></li>
            <li><a href="">New account</a></li>
        </ul>

        <div id="cd-login">
            <form class="cd-form" name="loginForm">
                <p class="fieldset">
                    <input ng-model="login.name" class="full-width has-padding has-border" type="text"
                           placeholder="Username"/>
                    <span ng-show="loginValidUserNAme" class="cd-error-message">The field of username is empty!</span>
                    <span ng-show="loginFindValidUserNAme" class="cd-error-message">The user is not found!</span>
                </p>

                <p class="fieldset">
                    <input ng-model="login.password" class="full-width has-padding has-border"
                           type="text" placeholder="Password"/>
                    <a href="" class="hide-password">Hide</a>
                    <span ng-show="loginValidPassword" class="cd-error-message">The field of password is empty!</span>
                </p>

                <p class="fieldset">
                    <input ng-click="loginClick(loginForm, login)" required="" class="full-width" type="submit"
                           value="Login"/>
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
        </div>

        <div id="cd-signup"> <!-- sign up form -->
            <form class="cd-form" name="regForm">
                <p class="fieldset">
                    <input ng-model="reg.name" class="full-width has-padding has-border"
                           type="text" placeholder="Username"/>
                    <span ng-show="regValidUserName" class="cd-error-message">The field of username is empty!</span>
                </p>

                <p class="fieldset">
                    <input ng-model="reg.email" class="full-width has-padding has-border" type="email"
                           placeholder="E-mail"/>
                    <span ng-show="regValidUEmail" class="cd-error-message">The field of email is empty!</span>
                </p>

                <p class="fieldset">
                    <input ng-model="reg.password" class="full-width has-padding has-border"
                           type="text" placeholder="Password"/>
                    <a href="" class="hide-password">Hide</a>
                    <span ng-show="regValidPassword" class="cd-error-message">The field of password is empty!</span>
                </p>

                <p class="fieldset">
                    <input ng-click="regClick(regForm, reg)" class="full-width" type="submit"
                           value="Create account"/>
                </p>
            </form>
        </div>

        <div id="cd-reset-password"> <!-- reset password form -->
            <p class="cd-form-message">Lost your password? Please enter your email address.
                <br/> You will receive a link to create a new password.</p>
            <form class="cd-form" name="restoreForm">
                <p class="fieldset">
                    <input ng-model="rest.email" class="full-width has-padding has-border" type="email"
                           placeholder="E-mail"/>
                    <span ng-show="resetValidUEmail" class="cd-error-message">The field of email is empty!</span>
                    <span ng-show="resetFindValidUEmail" class="cd-error-message">The email is not found!</span>
                </p>

                <p class="fieldset">
                    <input ng-click="restClick(restoreForm, rest)" class="full-width" type="submit"
                           value="Reset password"/>
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="">Back to log-in</a></p>
        </div>
        <!--<a href="" class="cd-close-form">Close</a>-->
    </div>
</div>
</html>