<!DOCTYPE html>
<html class="uk-notouch" xmlns:th="http://www.thymeleaf.org" lang="en-ru" ng-app="myApp">

<head th:replace="templ/head :: head"></head>

<body>

<header class="cd-header">
    <div id="cd-logo">
        <a href="/"><img th:src="@{/resources/img/logo.png}" src="../img/logo.png" alt="Logo"/></a>
    </div>
</header>

<section id="cd-intro" ng-controller="loginController">
    <div id="cd-intro-tagline">
        <h1><b>Design Patterns</b></h1>
        <div class="main-nav">
            <ul ng-show="startApp">
                <li><a ng-show="isLogin()" href="" class="cd-signin cd-btn cd-login">Login</a></li>
                <li><a ng-hide="isLogin()" href="" ng-click="logoutClick()" class="cd-btn cd-btn-logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- Login form -->
    <div th:replace="templ/login_form :: login_form"></div>
</section>

<div th:replace="templ/header_nav :: header_nav"></div>

<main class="cd-main-content">
    <br/>
    <br/>
    <section id="cd-placeholder-1" class="cd-section cd-container">
        <h2>Design Patterns</h2>
        <br/>
        <p>
            In software engineering, a design pattern is a general repeatable solution to a commonly occurring problem
            in software design. A design pattern isn't a finished design that can be transformed directly into code. It
            is a description or template for how to solve a problem that can be used in many different situations.
        </p>
        <br/>
        <br/>
        <h2>Uses of Design Patterns</h2>
        <br/>
        <p>Design patterns can speed up the development process by providing tested, proven development paradigms.
            Effective software design requires considering issues that may not become visible until later in the
            implementation. Reusing design patterns helps to prevent subtle issues that can cause major problems and
            improves code readability for coders and architects familiar with the patterns.</p>

        <p> Often, people only understand how to apply certain software design techniques to certain problems. These
            techniques are difficult to apply to a broader range of problems. Design patterns provide general solutions,
            documented in a format that doesn't require specifics tied to a particular problem. </p>
        <p> In addition, patterns allow developers to communicate using well-known, well understood names for software
            interactions. Common design patterns can be improved over time, making them more robust than ad-hoc
            designs.</p>
    </section>
    <br/>
    <section class="cd-back-ground-2">
        <section id="cd-placeholder-2" class="cd-section cd-container">
            <br/>
            <h2>Creational design patterns</h2>
            <br/>
            <p>
                These design patterns are all about class instantiation. This pattern can be further divided into
                class-creation patterns and object-creational patterns. While class-creation patterns use inheritance
                effectively in the instantiation process, object-creation patterns use delegation effectively to get the
                job
                done.
            </p>

            <div class="item_pattern">
                <p><b>Abstract Factory</b></p>
                Creates an instance of several families of classes
            </div>

            <div class="item_pattern">
                <p><b>Builder</b></p>
                Separates object construction from its representation
            </div>

            <div class="item_pattern">
                <p><b>Factory Method</b></p>
                Creates an instance of several derived classes
            </div>

            <div class="item_pattern">
                <p><b>Object Pool</b></p>
                Avoid expensive acquisition and release of resources
                by recycling objects that are no longer in use
            </div>

            <div class="item_pattern">
                <p><b>Prototype</b></p>
                A fully initialized instance to be copied or cloned
            </div>

            <div class="item_pattern">
                <p><b>Singleton</b></p>
                A class of which only a single instance can exist
            </div>

        </section>
        <br/>
    </section>
    <section>
        <section id="cd-placeholder-3" class="cd-section cd-container">
            <br/>
            <h2>Structural design patterns</h2>
            <br/>
            <p>
                These design patterns are all about Class and Object composition. Structural class-creation patterns use
                inheritance to compose interfaces. Structural object-patterns define ways to compose objects to obtain
                new functionality.
            </p>

            <div class="item_pattern">
                <p><b>Adapter</b></p>
                Match interfaces of different classes
            </div>

            <div class="item_pattern">
                <p><b>Bridge</b></p>
                Separates an object’s interface from its implementation
            </div>

            <div class="item_pattern">
                <p><b>Composite</b></p>
                A tree structure of simple and composite objects
            </div>

            <div class="item_pattern">
                <p><b>Decorator</b></p>
                Add responsibilities to objects dynamically
            </div>

            <div class="item_pattern">
                <p><b>Facade</b></p>
                A single class that represents an entire subsystem
            </div>

            <div class="item_pattern">
                <p><b>Flyweight</b></p>
                A fine-grained instance used for efficient sharing
            </div>


            <div class="item_pattern">
                <p><b>Private Class Data</b></p>
                Restricts accessor/mutator access
            </div>

            <div class="item_pattern">
                <p><b>Proxy</b></p>
                An object representing another object
            </div>

        </section>
    </section>
    <br/>
    <section class="cd-back-ground-2">
        <section id="cd-placeholder-4" class="cd-section cd-container">
            <br/>
            <h2>Behavioral design patterns</h2>
            <br/>
            <p>
                These design patterns are all about Class's objects communication. Behavioral patterns are those
                patterns
                that are most specifically concerned with communication between objects.
            </p>
            <div class="item_pattern">
                <p><b>Chain of responsibility</b></p>
                A way of passing a request between a chain of objects
            </div>
            <div class="item_pattern">
                <p><b>Command</b></p>
                Encapsulate a command request as an object
            </div>
            <div class="item_pattern">
                <p><b>Interpreter</b></p>
                A way to include language elements in a program
            </div>
            <div class="item_pattern">
                <p><b>Iterator</b></p>
                Sequentially access the elements of a collection
            </div>
            <div class="item_pattern">
                <p><b>Mediator</b></p>
                Defines simplified communication between classes
            </div>

            <div class="item_pattern">
                <p><b>Memento</b></p>
                Capture and restore an object's internal state
            </div>

            <div class="item_pattern">
                <p><b>Null Object</b></p>
                Designed to act as a default value of an object
            </div>

            <div class="item_pattern">
                <p><b>Observer</b></p>
                A way of notifying change to a number of classes
            </div>
            <div class="item_pattern">
                <p><b>State</b></p>
                Alter an object's behavior when its state changes
            </div>
            <div class="item_pattern">
                <p><b>Strategy</b></p>
                Encapsulates an algorithm inside a class
            </div>
            <div class="item_pattern">
                <p><b>Template method</b></p>
                Defer the exact steps of an algorithm to a subclass
            </div>
            <div class="item_pattern">
                <p><b>Visitor</b></p>
                Defines a new operation to a class without change
            </div>

        </section>
    </section>
    <br/>

    <section ng-controller="patternsController">
        <section id="cd-placeholder-5" class="cd-section cd-container" style="max-width:100%">
            <div th:replace="templ/patterns :: patterns"></div>
        </section>
        <br/>
    </section> <!-- #cd-placeholder-5 -->
    <section class="cd-back-ground-2">
        <section id="cd-placeholder-6" class="cd-section cd-container">
            <div th:replace="templ/about :: about"></div>
        </section> <!-- #cd-placeholder-6 -->
    </section>
</main>

<footer id="cd-footer">
    <section class="cd-section cd-container">
        <a class="cd-logo-footer" href="https://github.com/malexj"><img th:src="@{/resources/img/git.png}"
                                                                        src="../img/git.png" alt="Git"/></a>
        <a class="cd-logo-footer" href="https://www.linkedin.com/in/alex-maximov-027834102"><img
                th:src="@{/resources/img/in.png}" src="../img/in.png" alt="In"/></a>
        <a class="cd-logo-footer" href="https://www.facebook.com/profile.php?id=100009500853381"><img
                th:src="@{/resources/img/face.png}" src="../img/face.png"
                alt="Facebook"/></a>
    </section>
</footer>

</body>
</html>